* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --color-white-1: #fff;
    --color-text-h: ##303841;
    --color-text-p: #000000a6;
    --color-blue-1: #3294a3;
    --color-blue-2: #096dd9;
    --color-blue-3: #2c8cfc;
}

$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px
}

body {
    // font-family: "Open Sans", sans-serif;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;

    font-weight: 400;
    line-height: 1.6;
    position: relative;

    // background-color: var(--color-blue-1) !important;


    display: flex;
    justify-content: center;
}

//scrolbar

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: var(--color-blue-1);
}

a {
    text-decoration: none;
}

#root {
    width: 100%;
}