.page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;;
    // background-color: aquamarine;

    &__emoji {
        font-size: 500%;
        margin: 20px ;
        
    }
    
    &__info {
        font-size: 400%;
        color: var(--color-text-p);
    }
}

textarea {
    min-width: 200px;
    width: 100%;
    padding: 30px;
    margin: 10px;
    color: var(--color-text-p);
}

h1 {
    color: var(--color-blue-1);
    margin-bottom: 5vh;
    font-size: 5vh;
    font-weight: 700;
    text-align: center;
    span {
        font-weight: 500 !important;
    }
}

.footer {
    background: url('../image/footer.42d12654.svg');
    background-position: 50% -0px;;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // background-color: red;

    height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.buttonRouting {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    z-index: 10;
    // background-color: aquamarine;

}

.page2{
    // background-color: black;
    width: 100%;
}

.moneyItem {
    // background-color: blue;
    width: 50%;
    min-width: 480px;
    margin: auto;
    z-index: 1000;
    position: relative;
    background-color: #fff;


    display: grid;

    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );

    &__container{
        // background-color: red;
        border: 1px solid lightgrey;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__paper{
        background-color: green;
        min-width: 120px;
        width: 90%;
        height: 70px;
        border: 5px solid greenyellow;
        color: #fff;
        font-size: 150%;
        font-weight: 700;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__coin{
        background-color: green;
        width: 70px;
        height: 70px;
        border: 5px solid greenyellow;
        border-radius: 50%;
        color: #fff;
        font-size: 150%;
        font-weight: 700;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rest{
        font-size: 250%;
    }

    &__countInfo{
        padding-top: 10px;
        font-size: 120%;
        justify-self: end;
    }
}